<div class="row">
	<div class="span12">
		<h2>Add a New User Account</h2>
		<br>
		<form id="newUserForm" class="form-horizontal" method="post" action='{{@URL_BASE}}/admin/users/new'>
			<fieldset class="">
				<legend>Personal Details</legend>
				<div class="control-group">
					<label class="control-label" for="email">First Name</label>
					<div class="controls">
						<input name="firstname" id="firstname" title="First Name" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Last Name</label>
					<div class="controls">
						<input name="lastname" id="lastname" title="Last Name" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input name="email" id="email" title="Email" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="welcome_email">Welcome Email</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" name="welcome_email" id="welcome_email" value="option1">
							Send User a Welcome Email.
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Access Details</legend>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input name="password" id="password" title="Password" class="xLarge" type="password">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password_confirm">Confirm Password</label>
					<div class="controls">
						<input name="password_confirm" id="password_confirm" title="Confirm Password" class="xLarge" type="password">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="optionsCheckbox2">Automatic Password</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="auto_password" name="auto_password" value="auto">
							Email User an Auto-Generated password
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="is_global">Website Access</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="is_global" name="is_global" value="0">
							User can access all websites.
						</label>
					</div>
				</div>
				<div class="alert alert-error" id="newuser-alert-error" style="display:none;">
					<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
				</div>
				<div class="alert alert-success" id="newuser-alert-success" style="display:none;">
					<strong>Success!</strong> Users account information was updated successfully.
				</div>
				<div class="form-actions">
					<a href="/admin/users" class="btn"><i class="icon-arrow-left"></i> Back</a>
					<button type="button" class="btn btn-primary" data-loading-text="saving …" value="Request Access" id="newUserButton"><i class="icon-plus icon-white"></i> Add User</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>