<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{@html_title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Styles -->
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link href="{{@URL_BASE}}/framework/Jquery/css/jquery-ui-1.8.20.custom.css" rel="stylesheet">
	<link href="{{@URL_BASE}}/framework/Bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{@URL_BASE}}/template/css/screen.css" rel="stylesheet" media="screen">
	<link href="{{@URL_BASE}}/template/css/print.css" rel="stylesheet" media="print">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- favicons -->
	<link rel="shortcut icon" href="{{@URL_BASE}}/template/img/favicon/favicon.gif">
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<!-- Top Bar -->
	<F3:include href="html/topnav.html" />
	<!-- /Top Bar -->

	<div class = "container" id="main_container">

		<!-- Header -->
		<header>
			<F3:include href="{{@header}}" />
		</header>
		<!-- /Header -->

		<!-- Body Content -->
		<div class="main_content">
			<F3:include href="{{@content}}"/>
		</div>
		<!-- /Body Content -->	

		<!-- Footer -->
		<footer><F3:include href="{{@footer}}" /></footer>
		<!-- /Footer -->

	</div>

	<!-- Javascript -->
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script src="{{@URL_BASE}}/framework/Jquery/jquery-1.7.2.min.js"></script>
	<script src="{{@URL_BASE}}/framework/Jquery/jquery-ui-1.8.20.custom.min.js"></script>
	<script src="{{@URL_BASE}}/framework/Jquery/jquery-validate.min.js"></script>
	<script src="{{@URL_BASE}}/framework/Bootstrap/js/bootstrap.min.js"></script>
	<script>URL_BASE='{{@URL_BASE}}';</script>
	<script src="{{@URL_BASE}}/template/{{@js}}"></script>
	<!-- /Javascript -->


</body>
</html>