<div class="row">
	<div class="span12">
		<h2>Edit Window: #{{@window->id}}</h2>
		<p class="lead">{{@store_title(@window->store_id)}}</p>
		<br>
		<form id="windowForm" class="form-horizontal" method="post" action="{{@URL_BASE}}/admin/windows/edit" enctype="multipart/form-data">	
			<fieldset class="">
				<legend>Window Information</legend>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="outlet_location">Window Name:</label>
							<div class="controls">
								<select name="name" id="view_name" value="{{@window->name}}">
									<option value="" <F3:check if="{{@window->name}}==''"><F3:true>selected</F3:true></F3:check>>None</option>
									<option <F3:check if="{{@window->name}}=='Entire Store Front View'"><F3:true>selected</F3:true></F3:check>>Entire Store Front View</option>
									<option <F3:check if="{{@window->name}}=='Side Of Store'"><F3:true>selected</F3:true></F3:check>>Side Of Store</option>
									<option <F3:check if="{{@window->name}}=='Outside The Store, In The Doorway Facing I'"><F3:true>selected</F3:true></F3:check>>Outside The Store, In The Doorway Facing In</option>
									<option <F3:check if="{{@window->name}}=='Inside The Store, In The Doorway Facing Out'"><F3:true>selected</F3:true></F3:check>>Inside The Store, In The Doorway Facing Out</option>
								</select>
								<span class="help-block"><small>Choose a name if you want a "View".</small></span>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="window_name">Window Name:</label>
							<div class="controls">
								<input name="window_name" id="window_name" title="Window Name" class="xLarge" type="text" value="{{@window->name}}">
								<span class="help-block"><small>Type a name here if you want a "Window".</small></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="animation">Animation Window:</label>
							<div class="controls">
								<label class="radio inline">
								  <input type="radio" name="animation" value="1" <F3:check if="{{@window->animation}}==1"><F3:true>checked</F3:true></F3:check>> Yes
								</label>
								<label class="radio inline">
								  <input type="radio" name="animation" value="0" <F3:check if="{{@window->animation}}==0"><F3:true>checked</F3:true></F3:check>> No
								</label>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="plinth">Plinth Window:</label>
							<div class="controls">
								<label class="radio inline">
								  <input type="radio" name="plinth" value="1" <F3:check if="{{@window->plinth}}==1"><F3:true>checked</F3:true></F3:check>> Yes
								</label>
								<label class="radio inline">
								  <input type="radio" name="plinth" value="0" <F3:check if="{{@window->plinth}}==0"><F3:true>checked</F3:true></F3:check>> No
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="track_rod">Animation Tracks/Rod:</label>
							<div class="controls">
								<label class="radio inline">
								  <input type="radio" name="track_rod" value="1" <F3:check if="{{@window->track_rod}}==1"><F3:true>checked</F3:true></F3:check>> Yes
								</label>
								<label class="radio inline">
								  <input type="radio" name="track_rod" value="0" <F3:check if="{{@window->track_rod}}==0"><F3:true>checked</F3:true></F3:check>> No
								</label>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="tinted">Tinted Windows:</label>
							<div class="controls">
								<label class="radio inline">
								  <input type="radio" name="tinted" value="1" <F3:check if="{{@window->tinted}}==1"><F3:true>checked</F3:true></F3:check>> Yes
								</label>
								<label class="radio inline">
								  <input type="radio" name="tinted" value="0" <F3:check if="{{@window->tinted}}==0"><F3:true>checked</F3:true></F3:check>> No
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="outlets">Outlets:</label>
							<div class="controls">
								<label class="radio inline">
								  <input type="radio" name="outlets" value="1" <F3:check if="{{@window->outlets}}==1"><F3:true>checked</F3:true></F3:check>> Yes
								</label>
								<label class="radio inline">
								  <input type="radio" name="outlets" value="0" <F3:check if="{{@window->outlets}}==0"><F3:true>checked</F3:true></F3:check>> No
								</label>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="outlet_number">Number of Outlets:</label>
							<div class="controls">
								<input name="outlet_number" id="outlet_number" title="Number of Outlets" class="xLarge" type="text" value="{{@window->outlet_number}}">
							</div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="outlet_location">Outlet Location:</label>
					<div class="controls">
						<input name="outlet_location" id="outlet_location" title="Outlet Location" class="xLarge" type="text" value="{{@window->outlet_location}}">
					</div>
				</div>
			</fieldset>
			
			<fieldset class="">
				<legend>Window Panes</legend>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Pane 1:</label>
							<div class="controls">
								<span class="input-append">
									<input name="pane_1_w" id="pane_1_w" title="Pane 1 Width" class="xLarge span1" type="text" value="{{@window->pane_1_w}}">
									<span class="add-on">w</span>
								</span>
								x
								<span class="input-append">
									<input name="pane_1_h" id="pane_1_h" title="Pane 1 Height" class="xLarge span1" type="text" value="{{@window->pane_1_h}}">
									<span class="add-on">H</span>
								</span>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Pane 2:</label>
							<div class="controls">
								<span class="input-append">
									<input name="pane_2_w" id="pane_2_w" title="Pane 2 Width" class="xLarge span1" type="text" value="{{@window->pane_2_w}}">
									<span class="add-on">w</span>
								</span>
								x
								<span class="input-append">
									<input name="pane_2_h" id="pane_2_h" title="Pane 2 Height" class="xLarge span1" type="text" value="{{@window->pane_2_h}}">
									<span class="add-on">H</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Pane 3:</label>
							<div class="controls">
								<span class="input-append">
									<input name="pane_3_w" id="pane_3_w" title="Pane 3 Width" class="xLarge span1" type="text" value="{{@window->pane_3_w}}">
									<span class="add-on">w</span>
								</span>
								x
								<span class="input-append">
									<input name="pane_3_h" id="pane_3_h" title="Pane 3 Height" class="xLarge span1" type="text" value="{{@window->pane_3_h}}">
									<span class="add-on">h</span>
								</span>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Pane 4:</label>
							<div class="controls">
								<span class="input-append">
									<input name="pane_4_w" id="pane_4_w" title="Pane 4 Width" class="xLarge span1" type="text" value="{{@window->pane_4_w}}">
									<span class="add-on">w</span>
								</span>
								x
								<span class="input-append">
									<input name="pane_4_h" id="pane_4_h" title="Pane 4 Height" class="xLarge span1" type="text" value="{{@window->pane_4_h}}">
									<span class="add-on">h</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Pane 5:</label>
							<div class="controls">
								<span class="input-append">
									<input name="pane_5_w" id="pane_5_w" title="Pane 5 Width" class="xLarge span1" type="text" value="{{@window->pane_5_w}}">
									<span class="add-on">w</span>
								</span>
								x
								<span class="input-append">
									<input name="pane_5_h" id="pane_5_h" title="Pane 5 Height" class="xLarge span1" type="text" value="{{@window->pane_5_h}}">
									<span class="add-on">h</span>
								</span>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Pane 6:</label>
							<div class="controls">
								<span class="input-append">
									<input name="pane_6_w" id="pane_6_w" title="Pane 6 Width" class="xLarge span1" type="text" value="{{@window->pane_6_w}}">
									<span class="add-on">w</span>
								</span>
								x
								<span class="input-append">
									<input name="pane_6_h" id="pane_6_h" title="Pane 6 Height" class="xLarge span1" type="text" value="{{@window->pane_6_h}}">
									<span class="add-on">h</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset class="">
				<legend>Window Image</legend>
				<div class="control-group">
					<label class="control-label" for="number">Upload Window Image:</label>
					<div class="controls">
						<div class="row">
							<div class="span4">
								<div class="input-append">
									<span class="input-xlarge uneditable-input" id="image_upload_fake">{{@window->image}}</span>
									<span class="add-on"><span id="spanButtonPlaceHolder"></span></span>
								</div>
								<input name="image" id="image_upload" type="hidden" value="{{@window->image}}">
								<input name="image_flag" id="image_upload_flag" type="hidden" value="0">
							</div>
							<div class="span4">
								<div id="fsUploadProgress"></div>
								<F3:check if="{{@window.image}}">
									<F3:true>
										<img src="http://qcrt.s3.amazonaws.com/{{@img_thumb(@window->image)}}" class="img-polaroid" width="140">
									</F3:true>
								</F3:check>
							</div>
						</div>
						<!-- <textarea id="SWFUpload_Console" wrap="off"></textarea> -->
					</div>
				</div>
			</fieldset>
			<fieldset class="">
				<legend>Notes / Status</legend>
				<div class="control-group">
					<label class="control-label" for="notes">Notes:</label>
					<div class="controls">
						<textarea rows="5" class="span6" name="notes" id="notes">{{@window->notes}}</textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="status">Status</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="status" name="status" value="{{@window->active}}"<F3:check if="{{@window->active=='1'}}"><F3:true>checked</F3:true></F3:check>>
							Active / Inactive
						</label>
					</div>
				</div>
			</fieldset>
			<div class="alert alert-error" id="new-alert-error" style="display:none;">
				<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
			</div>
			<div class="alert alert-success" id="new-alert-success" style="display:none;">
				<strong>Success!</strong> Window information was saved successfully.
			</div>
			<fieldset>
				<div class="form-actions">
					<input name="store_id" type="hidden" value="{{@window->store_id}}">
					<input name="window_id" type="hidden" value="{{@window->id}}">
					<a href="{{@URL_BASE}}/admin/windows/{{@window->store_id}}" class="btn"><i class="icon-arrow-left"></i> Back</a>
					<button type="button" class="btn btn-primary" data-loading-text="saving …" value="Request Access" id="windowButton"><i class="icon-plus icon-white"></i> Update Window</button>
					<!-- <input id="btnCancel" type="button" value="Cancel" onclick="swfu.cancelQueue();" disabled="disabled" class="btn" /> -->
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript">
var swfu;
//$('document').ready(function(){
	var settings = {
		flash_url : "{{@URL_BASE}}/framework/SWFUpload/swfupload.swf",
		flash9_url : "{{@URL_BASE}}/framework/SWFUpload/swfupload_fp9.swf",
		upload_url: "http://qcrt.s3.amazonaws.com",
		post_params: {  
			'AWSAccessKeyId': '{{@aws_key}}',  
			'acl': 'public-read',  
			'key': '{{@aws_folder}}/${filename}',  
			'policy': '{{@aws_policy}}',  
			'signature': '{{@aws_signature}}',  
			'success_action_redirect': '{{@aws_callback}}',
			"content-type":"image/"
		},
		file_size_limit : "100 MB",
		file_types : "*.*",
		file_types_description : "All Files",
		file_upload_limit : 1,
		file_queue_limit : 1,
		custom_settings : {
			progressTarget : "fsUploadProgress",
			cancelButtonId : "btnCancel",
			thumbnail_height: 800,
			thumbnail_width: 600,
			thumbnail_quality: 80,
			file_path: "{{@aws_folder}}"
		},
		debug: false,
		http_success : [201, 303, 200, 0], /* Amazon returns a 303 on success */ 
		assume_success_timeout : 5, 
		file_post_name: "file", 

		// Button settings
		button_image_url: "{{@URL_BASE}}/framework/SWFUpload/images/SmallSpyGlassWithTransperancy_17x18.png",
		button_width: "20",
		button_height: "22",
		button_placeholder_id: "spanButtonPlaceHolder",
		button_text: '',
		button_text_style: '.theFont { font-size: 16; }',
		button_text_left_padding: 12,
		button_text_top_padding: 3,
		
		moving_average_history_size: 10,

		//The event handler functions are defined in handlers.js
		swfupload_preload_handler : preLoad,
		swfupload_load_failed_handler : loadFailed,
		file_queued_handler : fileQueued,
		file_queue_error_handler : fileQueueError,
		file_dialog_complete_handler : fileDialogComplete,
		upload_start_handler : uploadStart,
		upload_progress_handler : uploadProgress,
		upload_error_handler : uploadError,
		upload_success_handler : uploadSuccess,
		upload_complete_handler : uploadComplete,
		queue_complete_handler : queueComplete  // Queue plugin event
	};

	swfu = new SWFUpload(settings);
//});
</script>