<div class="row">
	<div class="span12">
		<h2>Add a New Door</h2>
		<p class="lead">{{@store_title(@door->store_id)}}</p>
		<br>
		<form id="doorForm" class="form-horizontal" method="post" action="{{@URL_BASE}}/admin/doors/edit">		
			<fieldset class="">
				<legend>Door Information</legend>
				<div class="row">
					<div class="control-group">
						<label class="control-label" for="outlet_location">Type: </label>
						<div class="controls">
							<select name="name">
								<option <F3:check if="{{@door->name}}=='Main Doors'"><F3:true>selected</F3:true></F3:check>>Main Doors</option>
								<option <F3:check if="{{@door->name}}=='Secondary Doors'"><F3:true>selected</F3:true></F3:check>>Secondary Doors</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="outlet_location">Entry: </label>
						<div class="controls">
							<select name="entry">
								<option <F3:check if="{{@door->entry}}=='Over All'"><F3:true>selected</F3:true></F3:check>>Over All</option>
								<option <F3:check if="{{@door->entry}}=='Left Door'"><F3:true>selected</F3:true></F3:check>>Left Door</option>
								<option <F3:check if="{{@door->entry}}=='Right Door'"><F3:true>selected</F3:true></F3:check>>Right Door</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="note">Notes: </label>
						<div class="controls">
							<input name="note" id="note" title="Notes" class="xLarge" type="text" value="{{@door->note}}">
						</div>
					</div>
				</div>
			</fieldset>
			
			<fieldset class="">
				<legend>Door Dimensions</legend>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Dimensions: </label>
							<div class="controls">
								<span class="input-append">
									<input name="width" id="width" title="Width" class="xLarge span1" type="text" value="{{@door->width}}">
									<span class="add-on">Wide</span>
								</span>
								x
								<span class="input-append">
									<input name="height" id="height" title="Height" class="xLarge span1" type="text" value="{{@door->height}}">
									<span class="add-on">Tall</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="alert alert-error" id="new-alert-error" style="display:none;">
				<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
			</div>
			<div class="alert alert-success" id="new-alert-success" style="display:none;">
				<strong>Success!</strong> Window information was saved successfully.
			</div>
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="status">Status</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="status" name="status" value="{{@door->active}}"<F3:check if="{{@door->active=='1'}}"><F3:true>checked</F3:true></F3:check>>
							Active / Inactive
						</label>
					</div>
				</div>
				<div class="form-actions">
					<input name="store_id" type="hidden" value="{{@door->store_id}}">
					<input name="door_id" type="hidden" value="{{@door->id}}">
					<a href="{{@URL_BASE}}/admin/doors/{{@door->store_id}}" class="btn"><i class="icon-arrow-left"></i> Back</a>
					<button type="button" class="btn btn-primary" data-loading-text="saving …" value="Request Access" id="doorButton"><i class="icon-plus icon-white"></i> Update Door</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>