<div class="row">
	<div class="span12">
		<h2>Add a New Door</h2>
		<p class="lead">{{@store_title(@PARAMS['id'])}}</p>
		<br>
		<form id="doorForm" class="form-horizontal" method="post" action="{{@URL_BASE}}/admin/doors/new">		
			<fieldset class="">
				<legend>Door Information</legend>
				<div class="row">
					<div class="control-group">
						<label class="control-label" for="outlet_location">Type: </label>
						<div class="controls">
							<select name="name">
								<option>Main Doors</option>
								<option>Secondary Doors</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="outlet_location">Entry: </label>
						<div class="controls">
							<select name="entry">
								<option>Over All</option>
								<option>Left Door</option>
								<option>Right Door</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="note">Notes: </label>
						<div class="controls">
							<input name="note" id="note" title="Notes" class="xLarge" type="text" value="">
						</div>
					</div>
				</div>
			</fieldset>
			
			<fieldset class="">
				<legend>Door Dimensions</legend>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="">Dimensions: </label>
							<div class="controls">
								<span class="input-append">
									<input name="width" id="width" title="Width" class="xLarge span1" type="text" value="">
									<span class="add-on">Wide</span>
								</span>
								x
								<span class="input-append">
									<input name="height" id="height" title="Height" class="xLarge span1" type="text" value="">
									<span class="add-on">Tall</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="alert alert-error" id="new-alert-error" style="display:none;">
				<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
			</div>
			<div class="alert alert-success" id="new-alert-success" style="display:none;">
				<strong>Success!</strong> Window information was saved successfully.
			</div>
			<fieldset>
				<div class="form-actions">
					<input name="store_id" type="hidden" value="{{@PARAMS['id']}}">
					<a href="{{@URL_BASE}}/admin/doors/{{@PARAMS['id']}}" class="btn"><i class="icon-arrow-left"></i> Back</a>
					<button type="button" class="btn btn-primary" data-loading-text="saving …" value="Request Access" id="doorButton"><i class="icon-plus icon-white"></i> Add Door</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>