<div class="row">
	<div class="span12">
		<form id="adminAccountForm" class="form-horizontal">
			<fieldset class="">
				<legend>Personal Details</legend>
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-envelope"></i></span>
							<input name="email" id="email" title="Email" class="xLarge" type="text" value="{{@admin->email}}">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">First Name</label>
					<div class="controls">
						<input name="firstname" id="firstname" title="First Name" class="xLarge" type="text" value="{{@admin->firstname}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Last Name</label>
					<div class="controls">
						<input name="lastname" id="lastname" title="Last Name" class="xLarge" type="text" value="{{@admin->lastname}}">
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Access Details</legend>
				<div class="control-group">
					<label class="control-label" for="username">Username</label>
					<div class="controls">
						<input name="username" id="username" title="Username" class="xLarge" type="text" value="{{@admin->username}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">New Password</label>
					<div class="controls">
						<input name="password" id="password" title="Password" class="xLarge" type="password">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password_confirm">Confirm New Password</label>
					<div class="controls">
						<input name="password_confirm" id="password_confirm" title="Confirm Password" class="xLarge" type="password">
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="alert alert-error" style="display:none;">
					<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
				</div>
				<div class="alert alert-success" style="display:none;">
					<strong>Success!</strong> Your account information was updated successfully.
				</div>
				<div class="form-actions">
					<button type="button" class="btn btn-primary" data-loading-text="saving …" value="Request Access" id="accountButton"><i class="icon-user icon-white"></i> Update Account</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>