<div class="row">
	<F3:check if="{{@PARAMS['id']}}">
		<F3:true>
			<div class="span6">
				<h2>Doors</h2>
				<p class="lead">{{@store_title(@PARAMS['id'])}}</p>
			</div>
			<div class="span6" style="text-align:right;">
				<a href="{{@URL_BASE}}/admin/doors/new/{{@PARAMS['id']}}" class="btn"><i class="icon-plus"></i> Add a New Door</a>
			</div>
		</F3:true>
		<F3:false>
			<div class="span12">
				<h2>Doors</h2>
				<p class="lead">Please Select A Door Below...</p>
			</div>
		</F3:false>
	</F3:check>
</div>
<hr>
<div class="row">
	<div class="span12">
		<F3:check if="{{!@PARAMS['id']}}">
			<F3:true>
				<ul>
				<F3:repeat group="{{@stores}}" value="{{@store}}">
					<li><a href="{{@URL_BASE}}/admin/doors/{{@store.id}}">{{@store.name}} - #{{@store.number}}</a></li>
				</F3:repeat>
				</ul>
			</F3:true>
			<F3:false>
					<table class="table table-striped table-bordered" id="data_list">
						<thead>
							<tr>
								<th>Id</th>
								<th>Active</th>
								<th>Name</th>
								<th>Entry</th>
								<th>Height</th>
								<th>Width</th>
								<th width="125px">Action</th>
							</tr>
						</thead>
						<tbody>
							<F3:repeat group="{{@doors}}" value="{{@door}}">
							<tr id="row_{{@door.id}}">
								<td>{{@door.id}}</td>
								<td data-door_id="{{@door.id}}">
									<F3:check if="{{@door.active=='1'}}">
										<F3:true>
											<a href="#" class="status">
												<span class="label label-success">Active</span>
										</F3:true>
										<F3:false>
											<a href="#" class="status">
												<span class="label">Inactive</span>
										</F3:false>
											<input type="hidden" value="{{@door.active}}" />
										</a>
									</F3:check>
								</td>
								<td>{{@door.name}}</td>
								<td>{{@door.entry}}</td>
								<td>{{@door.height}}</td>
								<td>{{@door.width}}</td>
								<td>
									<a href="{{@URL_BASE}}/admin/doors/edit/{{@door.id}}" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
									<button type="button" class="btn btn-mini btn-danger deleteButton" data-loading-text="deleting …" value="{{@door.id}}"><i class="icon-trash icon-white"></i> Delete</button>
								</td>
							</tr>
						</F3:repeat>
					</tbody>
				</table>
			</F3:false>
		</F3:check>
	</div>
</div>
