<div class="row">
	<div class="span12">
		<ul class="nav-center"> 
			<li>
				<a href="{{@URL_BASE}}/admin">Home</a>
			</li>
		</ul>
		<div class="copyright">
			<strong>Copyright &copy 2012</strong> All rights reserved
		</div>
	</div>
</div>