<div class="row">
	<div class="span12">
		<form id="forgotForm" class="form-horizontal">
			<fieldset class="">
				<div class="alert alert-error" style="display:none;">
					<strong>Oops!</strong> We could not find your email in the system. Please try again.
				</div>
				<div class="alert alert-success" style="display:none;">
					<strong>Success!</strong> Please check your email for your username and temporary password.
				</div>
				<legend>Request your username and password</legend>
				<div class="control-group">
					<label for="email" class="control-label">Email</label>
					<div class="controls">
						<input type="text" name="email" value="" id="email" class="xLarge required" title="Email Address">
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn" data-loading-text="loading …" value="Login" name="send" id="forgotButton"><i class="icon-question-sign"></i> Send</button>
				</div>

			</fieldset>
		</form>
	</div>
</div>