<div class="row">
	<div class="span12">
		<h2>Hello <F3:check if="{{@admin->firstname}}"><F3:true>{{@admin->firstname}} {{@admin->lastname}}</F3:true><F3:false>Administrator</F3:false></F3:check></h2>
		<p>This website models the {{ucfirst(@subdomain)}} Store Survey Packet. Click the "Store" tab to add/manage stores. After a store is added, you can add windows and doors for the a store. You can also add/manage user accounts to access the front-end of this website.</p>
	</div>
</div>