<div class="row">
	<div class="span12">
		<form id="loginForm" class="form-horizontal">
			<fieldset class="">
				<div class="alert alert-error" style="display:none;">
					<strong>Oops!</strong> You seemed to have entered an incorrect username and/or password.
				</div>
				<div class="alert alert-success" style="display:none;">
					<strong>Welcome!</strong> You are now logged in.
				</div>
				<legend>Administrator Sign In</legend>
				<div class="control-group">
					<label for="email" class="control-label">User Name</label>
					<div class="controls">
						<input type="text" name="username" value="" id="username" class="xLarge required" title="User Name">
					</div>
				</div>
				<div class="control-group">
					<label for="password" class="control-label">Password</label>
					<div class="controls">
						<input type="password" name="password" id="password" class="xLarge required" id="pass" title="Password">
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn" data-loading-text="signing in…" value="Login" name="send" id="login"><i class="icon-lock"></i> Sign In</button>
				</div>

			</fieldset>
		</form>
		<a href="{{@URL_BASE}}/admin/forgot">Forgot your username or password?</a>
	</div>
</div>