<div class="row">
	<div class="span6">
		<h2>Stores</h2>
	</div>
	<div class="span6" style="text-align:right;">
		<a href="{{@URL_BASE}}/admin/stores/new" class="btn"><i class="icon-plus"></i> Add a New Store</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="span12">
		<table class="table table-striped table-bordered" id="data_list">
			<thead>
				<tr>
					<th>Id</th>
					<th>Active</th>
					<th>Store Number</th>
					<th>Store Name</th>
					<th>Windows</th>
					<th>Doors</th>
					<th width="125px">Action</th>
				</tr>
			</thead>
			<tbody>
				<F3:repeat group="{{@stores}}" value="{{@store}}">
				<tr id="row_{{@store.id}}">
					<td>{{@store.id}}</td>
					<td data-store_id="{{@store.id}}">
						<F3:check if="{{@store.active=='1'}}">
							<F3:true>
								<a href="#" class="status">
									<span class="label label-success">Active</span>
							</F3:true>
							<F3:false>
								<a href="#" class="status">
									<span class="label">Inactive</span>
							</F3:false>
								<input type="hidden" value="{{@store.active}}" />
							</a>
						</F3:check>
					</td>
					<td>{{@store.number}}</td>
					<td>{{@store.name}}</td>
					<td><a href="{{@URL_BASE}}/admin/windows/{{@store.id}}">Manage Windows</a></td>
					<td><a href="{{@URL_BASE}}/admin/doors/{{@store.id}}">Manage Doors</a></td>
					<td>
						<a href="{{@URL_BASE}}/admin/stores/edit/{{@store.id}}" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<button type="button" class="btn btn-mini btn-danger deleteButton" data-loading-text="deleting …" value="{{@store.id}}"><i class="icon-trash icon-white"></i> Delete</button>
					</td>
				</tr>
			</F3:repeat>
		</tbody>
	</table>
</div>
