<div class="row">
	<div class="span12">
		<div class="subnav">
			<ul class="nav nav-tabs">
				<li <F3:check if="{{@menu}}=='home'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/admin">Home</a></li>
				<li <F3:check if="{{@menu}}=='stores'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/admin/stores">Stores</a></li>
				<li <F3:check if="{{@menu}}=='windows'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/admin/windows">Windows</a></li>
				<li <F3:check if="{{@menu}}=='doors'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/admin/doors">Doors</a></li>
				<li <F3:check if="{{@menu}}=='users'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/admin/users">User Accounts</a></li>
				<li <F3:check if="{{@menu}}=='account'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/admin/account">My Account</a></li>
			</ul>
		</div>
	</div>
</div>