<div class="row">
	<div class="span6">
		<h2>User Accounts</h2>
	</div>
	<div class="span6" style="text-align:right;">
		<a href="{{@URL_BASE}}/admin/users/new" class="btn"><i class="icon-plus"></i> Add a New User</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="span12">
		<table class="table table-striped table-bordered" id="user_list">
			<thead>
				<tr>
					<th>Id</th>
					<th>Active</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th width="125px">Action</th>
				</tr>
			</thead>
			<tbody>
				<F3:repeat group="{{@users}}" value="{{@user}}">
				<tr id="row_{{@user.id}}">
					<td>{{@user.id}}</td>
					<td data-uid="{{@user.id}}">
						<F3:check if="{{@user.active=='1'}}">
							<F3:true>
								<a href="#" class="status">
									<span class="label label-success">Active</span>
							</F3:true>
							<F3:false>
								<a href="#" class="status">
									<span class="label">Inactive</span>
							</F3:false>
								<input type="hidden" value="{{@user.active}}" />
							</a>
						</F3:check>
					</td>
					<td>{{@user.firstname}}</td>
					<td>{{@user.lastname}}</td>
					<td>{{@user.email}}</td>
					<td>
						<a href="/admin/users/edit/{{@user.id}}" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
						<button type="button" class="btn btn-mini btn-danger deleteUserButton" data-loading-text="deleting …" value="{{@user.id}}"><i class="icon-trash icon-white"></i> Delete</button>
					</td>
				</tr>
			</F3:repeat>
		</tbody>
	</table>
</div>
</div>
