<div class="row">
	<F3:check if="{{@PARAMS['id']}}">
		<F3:true>
			<div class="span6">
				<h2>Windows</h2>
				<p class="lead">{{@store_title(@PARAMS['id'])}}</p>
			</div>
			<div class="span6" style="text-align:right;">
				<a href="{{@URL_BASE}}/admin/windows/new/{{@PARAMS['id']}}" class="btn"><i class="icon-plus"></i> Add a New Window</a>
			</div>
		</F3:true>
		<F3:false>
			<div class="span12">
				<h2>Windows</h2>
				<p class="lead">Please Select A Store Below...</p>
			</div>
		</F3:false>
	</F3:check>
</div>
<hr>
<div class="row">
	<div class="span12">
		<F3:check if="{{!@PARAMS['id']}}">
			<F3:true>
				<ul>
				<F3:repeat group="{{@stores}}" value="{{@store}}">
					<li><a href="{{@URL_BASE}}/admin/windows/{{@store.id}}">{{@store.name}} - #{{@store.number}}</a></li>
				</F3:repeat>
				</ul>
			</F3:true>
			<F3:false>
					<table class="table table-striped table-bordered" id="data_list">
						<thead>
							<tr>
								<th width="25px">Id</th>
								<th width="100px">Active</th>
								<th width="150px">Thumbnail</th>
								<th width="200px">Name</th>
								<th>Notes</th>
								<th width="125px">Action</th>
							</tr>
						</thead>
						<tbody>
							<F3:repeat group="{{@windows}}" value="{{@window}}">
							<tr id="row_{{@window.id}}">
								<td>{{@window.id}}</td>
								<td data-window_id="{{@window.id}}">
									<F3:check if="{{@window.active=='1'}}">
										<F3:true>
											<a href="#" class="status">
												<span class="label label-success">Active</span>
										</F3:true>
										<F3:false>
											<a href="#" class="status">
												<span class="label">Inactive</span>
										</F3:false>
											<input type="hidden" value="{{@window.active}}" />
										</a>
									</F3:check>
								</td>
								<td>
									<F3:check if="{{@window.image}}">
										<F3:true><img src="http://qcrt.s3.amazonaws.com/{{@img_thumb(@window.image)}}" class="img-polaroid" width="140"></F3:true>
									</F3:check>
								</td>
								<td>{{@window.name}}</td>
								<td>{{@window.notes}}</td>
								<td>
									<a href="{{@URL_BASE}}/admin/windows/edit/{{@window.id}}" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
									<button type="button" class="btn btn-mini btn-danger deleteButton" data-loading-text="deleting …" value="{{@window.id}}"><i class="icon-trash icon-white"></i> Delete</button>
								</td>
							</tr>
						</F3:repeat>
					</tbody>
				</table>
			</F3:false>
		</F3:check>
	</div>
</div>
