.brand {
	font-family: 'Oleo Script', cursive;
	text-transform:capitalize;
}
header{
	margin-top: 40px;
	text-align: center;
}
header h1 {
	font-family: 'Oleo Script', cursive;
}
header img {
	width: 100%;
	max-height: 250px;
}

#main_container{
	-moz-box-shadow: 0px 2px 10px gray;
	-webkit-box-shadow: 0px 2px 10px gray;
	box-shadow: 0px 2px 10px gray;
	padding: 10px;
}

.main_content,
.files_main_content {
	padding-top: 20px;
	border-top: 2px solid #ffffff;
	min-height: 250px;
}
.admin_main_content {
	padding-top: 40px;
}
.user_main_content {
	padding-top: 40px;
}
.title-screen {
	font-family: 'Oleo Script', cursive;
	padding-top: 20px;
	color: #333333;
}
.title-screen h1 {
	font-size: 65px;
	line-height: 75px;
	margin-bottom: 25px;
}
.title-screen p {
	font-family: georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 24px;
	line-height: 35px;
	font-weight: normal;
}
.sign-up {
	position: relative;
	margin-top: 20px;
}
.sign-up div {
	background-image: url('/template/img/bucketfile.png');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
	position: absolute;
	left: -25px;
	top: -15px;
}
.sign-up a {
	display: block;
	background: #84C63C;
	background-color: #6cb32c;
	background-image: -moz-linear-gradient(top, #84c63c, #489615);
	background-image: -ms-linear-gradient(top, #84c63c, #489615);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#84c63c), to(#489615));
	background-image: -webkit-linear-gradient(top, #84c63c, #489615);
	background-image: -o-linear-gradient(top, #84c63c, #489615);
	background-image: linear-gradient(top, #84c63c, #489615);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84c63c', endColorstr='#489615', GradientType=0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-bottom: 3px solid #346012;
	color: #ffffff;
	font-family: georgia, serif;
	font-weight: normal;
	font-style: italic;
	padding-left: 70px;
}
.sign-up a h3 {
	font-size: 24px;
	text-shadow: none;
	text-shadow: 1px 1px 1px #489615;
}
.sign-up a span {
	font-size: 16px;
	text-shadow: none;
}
.sign-up a:hover {
	text-decoration: none;
	background: #86c740;
}
footer {
	margin-top: 50px;
	text-align: center;
	padding: 50px 0;
	border-top: 2px solid #999999;
	background: url('/template/img/bg.png');
	background-repeat: repeat-x;
	background-position: top;
}
footer .nav-center {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	border-bottom: none;
}
footer .nav-center li {
	float: none;
	display: inline-block;
}
footer .nav-center li a {
	padding: 0px 10px;
}
footer .nav-center li a:hover {
	border: none;
	background: none;
}
footer .copyright {
	font-size: 10px;
}
blockquote {
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
	line-height: 27px;
	font-style: italic;
}
div#fileButton {
	/* IMPORTANT STUFF */

	overflow: hidden;
	position: relative;
	cursor: pointer;
}
#s3_file_list {
	background: #FFFFFF;
}
.dataTables_filter input {
	display: inline;
}
input[type="file"] {
	height: 35px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 100px;
	z-index: 2;
	opacity: 0.0;
	/* Standard: FF gt 1.5, Opera, Safari */

	filter: alpha(opacity=0);
	/* IE lt 8 */

	-ms-filter: "alpha(opacity=0)";
	/* IE 8 */

	-khtml-opacity: 0.0;
	/* Safari 1.x */

	-moz-opacity: 0.0;
	/* FF lt 1.5, Netscape */

}
.alert {
	margin-bottom: 5px;
}

/*--- Uploader ---*/
.progressName {
	display: block;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}