<div class="row">
	<ul class="nav-center"> 
		<li>
			<a href="{{@URL_BASE}}/user">Home</a>
		</li>
	</ul>
	<div class="copyright">
		<strong>Copyright &copy 2012</strong> All rights reserved
	</div>
</div>
