<div class="row">
	<div class="span4">
		<table id="data_list" class="table table-condensed table-bordered table-striped">
			<thead>
				<tr>
					<th>Stores</th>
					<th>Number</th>
				</tr>
			</thead>
			<tbody>
			<F3:repeat group="{{@stores}}" value="{{@store}}">
				<tr <F3:check if="{{@PARAMS['store_id']}}=={{@store.id}}"><F3:true>class="active"</F3:true></F3:check>>
					<td><a href="{{@URL_BASE}}/user/{{@store.id}}">{{@store.name}} - #{{@store.number}}</a></td>
					<td>{{@store.number}}</td>
				</tr>
			</F3:repeat>
			</tbody>
		</table>
	</div>
	<div class="span8">
		<F3:check if="{{@PARAMS['store_id']}}">
			<F3:true>
				<h3>Store Information</h3>
				<table class="table table-condensed table-bordered table-striped">
					<tr><td width="33%"><strong>Store Number: </strong></td><td>{{@store->number}}</td></tr>
					<tr><td><strong>Store Name: </strong></td><td>{{@store->name}}</td></tr>
					<tr><td><strong>Address: </strong></td><td>{{@store->address}}</td></tr>
					<tr><td><strong>Address 2: </strong></td><td>{{@store->address2}}</td></tr>
					<tr><td><strong>Phone: </strong></td><td>{{@store->phone}}</td></tr>
					<tr><td><strong>Location: </strong></td><td>{{@store->location}}</td></tr>
					<tr><td><strong>Store Director: </strong></td><td>{{@store->director}}</td></tr>
					<tr><td><strong>Survey Completed By: </strong></td><td>{{@store->surveyor}}</td></tr>
					<tr><td><strong>Client Entrances: </strong></td><td>{{@store->entrances}}</td></tr>
				</table>
				<br>
				
				<h3>Door Information</h3>
				<table class="table table-condensed table-bordered table-striped">
					<thead>
					<tr>
						<th width="33%">Door</th>
						<th>Dimensions</th>
						<th>Notes</th>
					</tr>
					</thead>
					<tbody>
					<F3:repeat group="{{@doors}}" key="{{@key}}" value="{{@door}}">
						<tr>
							<td><strong>{{@door.name}} ({{@door.entry}})</strong></td>
							<td>{{@door.width}} Wide x {{@door.height}} Tall</td>
							<td>{{@door.note}}</td>
						</tr>
					</F3:repeat>
					</tbody>
				</table>
				<br>
				
				<h3>Store Views</h3>
				<F3:repeat group="{{@views}}" key="{{@key}}" value="{{@view}}">
					<div id="myViewModal{{@key}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="myModalLabel">{{@view.name}}</h3>
						</div>
						<div class="modal-body">
							<img src="http://qcrt.s3.amazonaws.com/{{@view.image}}">
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<F3:check if="{{@view.image}}==''">
								<F3:true><img src="http://placehold.it/140x140&text=No+Image" class="img-polaroid"></F3:true>
								<F3:false><a href="#myViewModal{{@key}}" role="button" data-toggle="modal"><img src="http://qcrt.s3.amazonaws.com/{{@img_thumb(@view.image)}}" class="img-polaroid" width="140"></a></F3:false>
							</F3:check>
						</div>
  						<div class="span6">
							<strong>{{@view.name}}</strong>
							<F3:check if="{{@view.notes}}==''">
								<F3:false>
									<br>
									<p><strong>Notes:</strong> {{@view.notes}}</p>
								</F3:false>
							</F3:check>
						</div>
					</div>
					<hr>
				</F3:repeat>
				<br>
				
				<div>
					<h3>Window Information</h3>
					<F3:repeat group="{{@windows}}" key="{{@key}}" value="{{@window}}">
					<div id="myModal{{@key}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="myModalLabel">Window #{{@key+1}}</h3>
						</div>
						<div class="modal-body">
							<img src="http://qcrt.s3.amazonaws.com/{{@window.image}}">
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						</div>
					</div>
					<div class="row">
							<div class="span2">
								<F3:check if="{{@window.image}}==''">
									<F3:true><img src="http://placehold.it/140x140&text=No+Image" class="img-polaroid"></F3:true>
									<F3:false><a href="#myModal{{@key}}" role="button" data-toggle="modal"><img src="http://qcrt.s3.amazonaws.com/{{@img_thumb(@window.image)}}" class="img-polaroid" width="140"></a></F3:false>
								</F3:check>
							</div>
							<div class="span3">
								<strong>
									<F3:check if="{{@window.name}}">
										<F3:true>{{@window.name}} Information</F3:true>
										<F3:false>Window Information</F3:false>
									</F3:check>
								</strong>
								<F3:check if="{{@window.animation}}==1"><F3:true><div>Animation Window</div></F3:true></F3:check>
								<F3:check if="{{@window.plinth}}==1"><F3:true><div>Plinth Window</div></F3:true></F3:check>
								<F3:check if="{{@window.track_rod}}==1"><F3:true><div>Animation Tracks/Rod</div></F3:true></F3:check>
								<F3:check if="{{@window.tinted}}==1"><F3:true><div>Tinted Windows</div></F3:true></F3:check>
								<F3:check if="{{@window.outlets}}==1"><F3:true><div>Outlets</div></F3:true></F3:check>
								<F3:check if="{{@window.outlet_number}}>0"><F3:true><div>Number of Outlets: {{@window.outlet_number}}</div></F3:true></F3:check>
								<F3:check if="{{@window.outlet_location}}==''"><F3:false><div>Location of Outlets: {{@window.outlet_location}}</div></F3:false></F3:check>
							</div>
							<div class="span3">
								<strong>Window Panes</strong>
								<F3:check if="{{@window.pane_1_w}}==''"><F3:false><div>Pane 1: {{@window.pane_1_w}}w</F3:false></F3:check>
								<F3:check if="{{@window.pane_1_h}}==''"><F3:false> x {{@window.pane_1_h}}h</div></F3:false></F3:check>
								<F3:check if="{{@window.pane_2_w}}==''"><F3:false><div>Pane 2: {{@window.pane_2_w}}w</F3:false></F3:check>
								<F3:check if="{{@window.pane_2_h}}==''"><F3:false> x {{@window.pane_2_h}}h</div></F3:false></F3:check>
								<F3:check if="{{@window.pane_3_w}}==''"><F3:false><div>Pane 3: {{@window.pane_3_w}}w</F3:false></F3:check>
								<F3:check if="{{@window.pane_3_h}}==''"><F3:false> x {{@window.pane_3_h}}h</div></F3:false></F3:check>
								<F3:check if="{{@window.pane_4_w}}==''"><F3:false><div>Pane 4: {{@window.pane_4_w}}w</F3:false></F3:check>
								<F3:check if="{{@window.pane_4_h}}==''"><F3:false> x {{@window.pane_4_h}}h</div></F3:false></F3:check>
								<F3:check if="{{@window.pane_5_w}}==''"><F3:false><div>Pane 5: {{@window.pane_5_w}}w</F3:false></F3:check>
								<F3:check if="{{@window.pane_5_h}}==''"><F3:false> x {{@window.pane_5_h}}h</div></F3:false></F3:check>
								<F3:check if="{{@window.pane_6_w}}==''"><F3:false><div>Pane 6: {{@window.pane_6_w}}w</F3:false></F3:check>
								<F3:check if="{{@window.pane_6_h}}==''"><F3:false> x {{@window.pane_6_h}}h</div></F3:false></F3:check>
							</div>      
						</div>
						<div class="row">
							<div class="span6 offset2">
								<F3:check if="{{@window.notes}}==''">
									<F3:false>
										<br>
										<p><strong>Notes:</strong> {{@window.notes}}</p>
									</F3:false>
								</F3:check>
							</div>
						</div>
						<hr>				
					</F3:repeat>
				</div>
			</F3:true>
			<F3:false>
				<h3>Please select a store.</h3>
			</F3:false>
		</F3:check>
	</div>
</div>
		
