<div class="subnav">
	<ul class="nav nav-tabs">
		<li <F3:check if="{{@menu}}=='home'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/user">Dashboard</a></li>
		<li <F3:check if="{{@menu}}=='account'"><F3:true>class="active"</F3:true></F3:check>><a href="{{@URL_BASE}}/user/account">My Account</a></li>
	</ul>
</div>
