<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="{{@URL_BASE}}">{{@subdomain}}</a>
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
    		</a>
    		<div class="nav-collapse">
				<ul class="nav pull-right">
					<li>
						<F3:check if="{{@SESSION.user}}">
							<F3:true>
								<a href="{{@URL_BASE}}/user/logout"><i class="icon-lock"></i> Sign Out</a>
							</F3:true>
							<F3:false>
								<a href="{{@URL_BASE}}/user/login"><i class="icon-lock"></i> Sign In</a>
							</F3:false>
						</F3:check>
					</li>
				</ul>	
			</div>
  		</div>
	</div>
</div>