<div class="row">
	<div class="span12">
		<h2>Edit Store: #{{@store->number}}</h2>
		<br>
		<form id="editForm" class="form-horizontal" method="post" action='{{@URL_BASE}}/admin/stores/edit'>
			<fieldset class="">
				<legend>
					<div class="row">
						<div class="span8">
							Store Profile
						</div>
						<div class="span4 ">
							<a href="{{@URL_BASE}}/admin/windows/{{@PARAMS['id']}}" class="btn">Manage Store Windows</a>
						</div>
					</div>
				</legend>
				<div class="control-group">
					<label class="control-label" for="number">Store Number</label>
					<div class="controls">
						<input name="number" id="number" title="Store Number" class="xLarge" type="text" value="{{@store->number}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="name">Store Name</label>
					<div class="controls">
						<input name="name" id="name" title="Store Name" class="xLarge" type="text" value="{{@store->name}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="address">Address</label>
					<div class="controls">
						<input name="address" id="address" title="Address" class="xLarge" type="text" value="{{@store->address}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="address2">Address 2</label>
					<div class="controls">
						<input name="address2" id="address2" title="Address 2" class="xLarge" type="text" value="{{@store->address2}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="phone">Phone Number</label>
					<div class="controls">
						<input name="phone" id="phone" title="Phone Number" class="xLarge" type="text" value="{{@store->phone}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="location">Location</label>
					<div class="controls">
						<label class="radio">
							<input type="radio" name="location" id="location1" value="Mall" <F3:check if="{{@store->location=='Mall'}}"><F3:true>checked</F3:true></F3:check>>
							Mall Location
						</label>
						<label class="radio">
							<input type="radio" name="location" id="location2" value="Street" <F3:check if="{{@store->location=='Street'}}"><F3:true>checked</F3:true></F3:check>>
							Street Location
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="director">Store Director</label>
					<div class="controls">
						<input name="director" id="director" title="Store Director" class="xLarge" type="text" value="{{@store->director}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="surveyor">Name of person(s) completing the survey</label>
					<div class="controls">
						<input name="surveyor" id="surveyor" title="Name of person(s) completing the survey" class="xLarge" type="text" value="{{@store->surveyor}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="entrances">Number of Client Entrances</label>
					<div class="controls">
						<input name="entrances" id="entrances" title="Number of Client Entrances" class="xLarge" type="text" value="{{@store->entrances}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="status">Status</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="status" name="status" value="{{@store->active}}"<F3:check if="{{@store->active=='1'}}"><F3:true>checked</F3:true></F3:check>>
							Active / Inactive
						</label>
					</div>
				</div>
			</fieldset>
			<div class="alert alert-error" id="edit-alert-error" style="display:none;">
				<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
			</div>
			<div class="alert alert-success" id="edit-alert-success" style="display:none;">
				<strong>Success!</strong> Store information was updated successfully.
			</div>
			<fieldset>
				<div class="form-actions">
					<input name="store_id" id="store_id" type="hidden" value="{{@store->id}}">
					<a href="{{@URL_BASE}}/admin/stores" class="btn"><i class="icon-arrow-left"></i> Back</a>
					<button type="button" class="btn btn-primary" data-loading-text="saving …" value="Request Access" id="editButton"><i class="icon-plus icon-white"></i> Update Store</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>