<div class="row">
	<div class="span12">
		<h2>Add a New Store</h2>
		<br>
		<form id="newForm" class="form-horizontal" method="post" action='{{@URL_BASE}}/admin/stores/new'>
			<fieldset class="">
				<legend>Store Profile</legend>
				<div class="control-group">
					<label class="control-label" for="number">Store Number</label>
					<div class="controls">
						<input name="number" id="number" title="Store Number" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="name">Store Name</label>
					<div class="controls">
						<input name="name" id="name" title="Store Name" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="address">Address</label>
					<div class="controls">
						<input name="address" id="address" title="Address" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="address2">Address 2</label>
					<div class="controls">
						<input name="address2" id="address2" title="Address 2" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="phone">Phone Number</label>
					<div class="controls">
						<input name="phone" id="phone" title="Phone Number" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="location">Location</label>
					<div class="controls">
						<label class="radio">
							<input type="radio" name="location" id="location1" value="Mall" checked>
							Mall Location
						</label>
						<label class="radio">
							<input type="radio" name="location" id="location2" value="Street">
							Street Location
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="director">Store Director</label>
					<div class="controls">
						<input name="director" id="director" title="Store Director" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="surveyor">Name of person(s) completing the survey</label>
					<div class="controls">
						<input name="surveyor" id="surveyor" title="Name of person(s) completing the survey" class="xLarge" type="text" value="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="entrances">Number of Client Entrances</label>
					<div class="controls">
						<input name="entrances" id="entrances" title="Number of Client Entrances" class="xLarge" type="text" value="">
					</div>
				</div>
			</fieldset>
			<div class="alert alert-error" id="new-alert-error" style="display:none;">
				<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
			</div>
			<div class="alert alert-success" id="new-alert-success" style="display:none;">
				<strong>Success!</strong> Store information was updated successfully.
			</div>
			<fieldset>
				<div class="form-actions">
					<a href="{{@URL_BASE}}/admin/stores" class="btn"><i class="icon-arrow-left"></i> Back</a>
					<button type="button" class="btn btn-primary" data-loading-text="saving …" value="Request Access" id="newButton"><i class="icon-plus icon-white"></i> Add Store</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>