<div class="row">
	<div class="span12">
		<form id="userAccountForm" class="form-horizontal">
			<div class="alert alert-error" style="display:none;">
				<strong>Oops!</strong> Something seems to have gone wrong. Please try again.
			</div>
			<div class="alert alert-success" style="display:none;">
				<strong>Success!</strong> Your account was created successfully.
			</div>
			<fieldset>
				<legend>Personal Details</legend>
				<div class="control-group">
					<label class="control-label" for="email">First Name</label>
					<div class="controls">
						<input name="firstname" id="firstname" title="First Name" class="xLarge" type="text" value="{{@user->firstname}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Last Name</label>
					<div class="controls">
						<input name="lastname" id="lastname" title="Last Name" class="xLarge" type="text" value="{{@user->lastname}}">
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Access Details</legend>
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input name="email" id="email" title="Email" class="xLarge" type="text" value="{{@user->email}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input name="password" id="password" title="Password" class="xLarge" type="password">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password_confirm">Confirm Password</label>
					<div class="controls">
						<input name="password_confirm" id="password_confirm" title="Confirm Password" class="xLarge" type="password">
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-actions">
					<button type="button" class="btn" data-loading-text="saving …" value="Request Access" id="userAccountButton"><i class="icon-user"></i> Create Account</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
