<div class="row">
	<ul class="nav-center"> 
		<li>
			<a href="{{@URL_BASE}}">Home</a>
		</li>
		<li>
			<a href="{{@URL_BASE}}/privacy-policy">Privacy Policy</a>
		</li>
		<li>
			<a href="{{@URL_BASE}}/legal-notices">Legal Notices</a>
		</li>
		<li>
			<a href="{{@URL_BASE}}/admin">Admin</a>
		</li>
	</ul>
	<div class="copyright">
		<strong>Copyright &copy 2012</strong> All rights reserved
	</div>
</div>
