<div class="row">
	<div class="span12">
		<h1>Store Window Profile Manager</h1>
		<p>Access store window profiles by selecting your store below.</p>
		<ul>
			<F3:repeat group="{{@sites}}" key="{{@key}}" value="{{@site}}">
			    <li><a href="http://{{@site.subdomain}}.qcrt.com">{{@site.title}}</a></li>
			</F3:repeat>
		<ul>
	</div>
</div>
