<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="{{@URL_BASE}}">{{@subdomain}}</a>
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
    		</a>
    		<div class="nav-collapse">
				<ul class="nav pull-right">
					<li>&nbsp;</li>
				</ul>	
			</div>
  		</div>
	</div>
</div>